<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      div{
        height: 50px;
      }
      button{
        border-radius: 5px;
        font-size: 12px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="centerHorizontal">
      <button type="button">
        <a href="/users">
          All Users
        </a>
      </button>
    </div>
  </body>
</html> -->

<button class="homeBtn">
  <a href="/">Home</a>
</button>
