<div class="data-form">
  <form action="<%=`/courses/${course._id}/update?_method=PUT`%>" method="POST" >
    <h2>Edit course:</h2>
    <label for="inputTitle">Title</label>
    <input type="text" name="title" id="inputTitle" value="<%= course.title %>" placeholder="Title" autofocus>
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" value="<%= course.description %>" placeholder="Description" required>
    <label for="inputMaxStudents">Max Students</label>
    <input type="text" name="maxStudents" id="inputMaxStudents" placeholder="Max Students" required>
    <label for="inputCost">Cost</label>
    <input type="text" name="cost" id="inputCost" placeholder="Cost" required>
    <button type="submit">Update</button>
  </form>
</div>
