<div class= "data-form">
  <form action="/courses/create" method="POST">
    <h2> Create a new course: </h2>
    <label for="inputTitle">Title</label>
    <input type="text" name="title" id="inputTitle" placeholder="Title" autofocus>
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" placeholder="Description" required>
    <label for="inputMaxStudents">Max Students</label>
    <input type="text" name="maxStudents" id="inputMaxStudents" placeholder="Max Students" required>
    <label for="inputCost">Cost</label>
    <input type="text" name="cost" id="inputCost" placeholder="Cost" required>
    <button type="submit">Create</button>
  </form>
</div>
