<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Balance Check</title>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image">
          </div>
          <div class="product-info">
            <h1>{{ greeting }}</h1>
            
            <div style="text-align: center;">
              <button v-on:click="reverseGreeting">Reverse Message</button>
              <br>
              <form action="/users/login" method="get">
                <button>Login</button>
              </form>
              <form action="/users/new" method="get">
                <button>Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <span v-bind:title="message">
        Hover here to see when you loaded our Website.
      </span>

    </div>

    <!-- Import AppVue.js -->
    <script src="/js/appVue.js"></script>

  </body>
</html>
