<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <div class="centerHorizontalVertical">
      <h1> HOME PAGE </h1>
      <form action="/myAccount" method="post">
        <input type="text" name="username">
        <button>Sign In</button>
      </form>
      <form action="/users/new" method="get">
        <button>Sign Up</button>
      </form>
    </div>
  </body>
</html>
