<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/balance-check.css">
  </head>
  <body>
    <b><div id="header">Balance Check</div></b>
    <%- include('partials/navigation') %>
    <%- body %>
    <div id="footer"><p> FOOTER </p></div>
  </body>
</html>
