<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/balance-check.css">
    <script src="js/balance-check.js"></script>
  </head>
  <body>
    <b><div id="header">Balance Check</div></b>
    <%- body %>
    <div id="footer"><p> FOOTER </p></div>
  </body>
</html>
