<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
      <!-- css -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
      <!-- javaScript -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- AJAX function -->
      <script type="text/javascript" src="/js/balance-check.js"></script>
    <!-- custom css & js-->
      <link rel="stylesheet" href="/css/balance-check.css">
      <!--<script src="js/balance-check.js"></script>-->
  </head>
  <body>
    <b><div id="header">Balance Check</div></b>

    <div class="flashes" style="text-align: center;">
      <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
          <div class="flash success">
            <%= flashMessages.success %>
          </div>
        <% } else if (flashMessages.error) { %>
          <div class="flash error">
            <%= flashMessages.error %>
          </div>
        <% } %>
      <% } %>
    </div>

    <div class="nav-bar">
      <%- include ('categories/_categoriesModal') %>
    </div>

    <%- body %>
    <div id="footer">
      <p>
        Huong - John - Martin - Niklas
      </p>
    </div>
  </body>
</html>
