<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Username</title>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <h1>Welcome back</h1>
    <h2><%= username %></h2>
  </body>
</html>
