body{
  background-color: #f2f2f2;
  margin: 0px;
  padding: 30px;
  font-family: verdana;
  color: #282828;
}

button {
  display: inline-block;
  margin: 5px;
  background-color: #1e90ff;
  border-radius: 10px;
  font-size: 16px;
  width: 100px;
  color: #eeeeee;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 4px double #cccccc;
  transition: all 0.5s;
}

button:hover {
background-color: #87ceeb;
color: #000000
}

.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}

.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

h1{
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

h2{
  font-size: 24px;
  text-align: center;
}

img {
  border: 2px solid #d8d8d8;
  width: 70%;
  margin: 40px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.centerHorizontalVertical {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centerHorizontal {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

li {
  font-size: 18px;
}

.nav-bar {
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  height: 60px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}

.out-of-stock-img {
  opacity:0.5
}

p {
  font-size: 22px;
}


.product-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-image,
.product-info {
  width: 50%;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 40px;
  border: 2px solid #d8d8d8;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.review-container {
  width: 425px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin-left: 40px;
  border: 2px solid #d8d8d8;
}

.review-container li {
  margin-bottom: 30px;
}

.review-form .button {
  display: block;
  margin: 30px auto;
}

select {
  height: 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

textarea {
  width: 95%;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

span:hover {
background-color: #87ceeb;
color: #000000
}

#header{
  font-family: verdana;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  color: grey;
}

#footer{
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  height: 2.5rem;
}

#contentNext{
  display: none;
}

.homeBtn a {
  color: white;
  text-decoration: none;
}

.indexBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.chatBtn {
  margin-top: 2rem;
  text-align: center;
}

.chatBtn button {
  width: 200px;
}

.chatbox-container h2{
  color: blue;
}
#chatForm {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-column-gap: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
}

#chatInput {
  border-radius: 5px;
  border: 1px solid black;
}

#chat {
  height: 200px;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 10%;
  margin-right: 10%;
  overflow-y: scroll;
}

.newMessage {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: lightblue;
  border-radius: 5px;
  width: fit-content;
  padding: 0.5rem;
  display: block;
}

.newMessage p {
  font-size: 16px;
  margin-bottom: 0;
}

.msgLabel {
  font-size: 14px!important;
  font-style: italic;
  margin-bottom: 1rem!important;
}

/* For Mobiles-Tablets */

@media screen and (max-width: 1200px){
  .indexBtn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    margin-left: 10px;
    width: 100%;
  }

  .review-form {
    width: 90%;
  }
}

