<div class="data-form">
  <form action="<%=`/balances/${balance._id}/update?_method=PUT`%>" method="POST" >
    <h2>Edit My Balance:</h2>
    <label for="inputDate">Date</label>
    <input type="text" name="date" id="inputDate" value="<%= balance.date %>" placeholder="Date" required>
    <label for="inputBalance">Balance</label>
    <input type="text" name="balance" id="inputBalance" value="<%= balance.balance %>" placeholder="Balance" autofocus>
    <button type="submit">Update</button>

    <br>
    <button type="button">
      <a href="/balances" style="color:white;">
        back
      </a>
    </button>
  </form>
</div>
