<!DOCTYPE html>
<html>
  <head>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <h1 font-size:36px>My Balance!</h1>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image">
          </div>
          <div class="product-info">
            <form action="/categories/create" method="POST">
              <h2> Create a new balance: </h2>
              <label for="inputDate">Date</label>
              <br>
              <input type="text" name="date" id="inputDate" placeholder="Date" style="margin-left: 10px" autofocus>
              <br>
              <label for="inputBalance">Balance</label>
              <br>
              <input type="text" name="balance" id="inputBalance" placeholder="Balance" style="margin-left: 10px" required>
              <br>
              <button type="submit">Create</button>
            </form>
            <h5>Thanks!</h5>
          </div>
        </div>
      </div>
    </div>

    <button type="button">
      <a href="/balances" style="color:white;">
        back
      </a>
    </button>

    <!-- Import AppVue.js -->
    <script src="/js/appVue.js"></script>

  </body>
</html>
