<table>
  <tr>
    <th>
      <img src="../images/goodvibesonly.jpg">
    </th>
    <th style="text-align:left">
      <h1 style="text-align:left" font-size:36px>My Balance!</h1>
      <h5>Enter Balance:</h5>
      <form action="/balances/create" method="POST">
        <h2> Create a new balance: </h2>
        <label for="inputDate">Date</label>
        <br>
        <input type="text" name="date" id="inputDate" placeholder="Date" style="margin-left: 10px" autofocus>
        <br>
        <label for="inputBalance">Balance</label>
        <br>
        <input type="text" name="balance" id="inputBalance" placeholder="Balance" style="margin-left: 10px" required>
        <br>
        <button type="submit">Create</button>
      </form>
      <h5>Thanks!</h5>
    </th>
  </tr>
</table>
