<table>
  <tr>
    <th>
      <img src="../images/goodvibesonly.jpg">
    </th>
    <th style="text-align:left">
      <h1 style="text-align:left" font-size:36px>Reach out to us!</h1>
      <h5>Enter your email if you're interested to learn more:</h5>
      <form action="/subscribers/create" method="POST">
        <h2> Create a new subscriber: </h2>
        <label for="inputName">Name</label>
        <br>
        <input type="text" name="name" id="inputName" placeholder="Name" style="margin-left: 10px" autofocus>
        <br>
        <label for="inputEmail">Email Address</label>
        <br>
        <input type="email" name="email" id="inputEmail" placeholder="Email address" style="margin-left: 10px" required>
        <br>
        <label for="inputZipCode">Zip Code</label>
        <br>
        <input type="text" name="zipCode" id="inputZipCode" pattern="[0-9]{5}" placeholder="Zip Code" style="margin-left: 10px" required>
        <br>
        <button type="submit">Create</button>
      </form>
      <h5>We'll get back to you soon!</h5>
    </th>
  </tr>
</table>
