<!-- Button to trigger modal -->
<button id="modal-button" type="button" data-toggle="modal" data-target="#myModal">Category</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <h4 class="modal-title">Categories</h4>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
