<h1>Category: <%= category.category %></h1>

<table class="table">
  <tr>
    <th>Category</th>
    <td><%= category.category %></td>
  </tr>
  <tr>
    <th>Nominal</th>
    <td><%= category.nominal %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= category.description %></td>
  </tr>
</table>

<div>
  <button type="button">
    <a href="/categories">
      Back
    </a>
  </button>
</div>
